.parallax {
    background-image: url(../../../0-JavaScript-PreWork/4-assets/Lake.jpg);
    background-size: cover;
    height: 100vh;
    width: vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
    display: block;
    /* color: -internal-root-color; */
}

#box {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-family: 'Economica', sans-serif;
}
.animatedInfinitePulse {
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-name: pulse;
}

/* @keyframes pulse {
   transform: scaleX(1);
    50% transform: scale3d(1.05, 1.05, 1.05);
    100% transform: scaleX(1);
} */

#border {
    background-color: black;
    color: whitesmoke;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
    width: 50%;
    text-align: center;
}

.section {
    padding-top: 5em;
    width: 100vw;
    background-color: whitesmoke;
    text-align: center;
    padding-bottom: 5em;
}

.title {
    font-family: 'Dosis', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.3em;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ul {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    list-style-type: none;
    color: #777;
    display: block;
    padding-inline-start: 40px;
}
ul li {
    padding: 1px;
}

li{
    display: list-item;

}

.blurb {
    font-family: 'Dosis', sans-serif;
    font-size: 1.1em;
}

.parallax2 {
    background-image: url(../../../0-JavaScript-PreWork/4-assets/Lake.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}

.parallax3 {
    background-image: url(../../../0-JavaScript-PreWork/4-assets/Lake.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}

.styleSection {
    padding-top: 5em;
    width: 100vw;
    background-color: lightgrey;
    text-align: center;
    padding-bottom: 5em;

}
.styleHead {
    letter-spacing: 2px;
    font-family: 'Economica', sans-serif;
}

.circles {
    display: flex;
    justify-content: space-around;
}

.circleOne {
    height: 200px;
    width: 200px;
    background-color: #FBFBFB;
    border-radius: 50%;
}

.circleTwo {
    height: 200px;
    width: 200px;
    background-color: #7FC0FF;
    border-radius: 50%;
}

.circleThree {
    height: 200px;
    width: 200px;
    background-color: #9D9D9D;
    border-radius: 50%;
}

.circleFour {
    height: 200px;
    width: 200px;
    background-color: #6B7F92;
    border-radius: 50%;
}

.circleFive {
    height: 200px;
    width: 200px;
    background-color: #383B3F;
    border-radius: 50%;
}

.line {
    width: 80vw;
    height: 1.5px;
    background-color: #6B7F92;
    margin: 0 auto;
}

.fonts {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.economica {
    font-family: 'Economica', sans-serif;
    font-size: 5.0em;
    color: #383B3F;
}

.dosis {
    font-family: 'Dosis', sans-serif;
    font-size: 5.0em;
    color: #383B3F;
}